In [1]:
import csv
import pandas as pd
import pymongo

# Creating Connection

In [2]:
client = pymongo.MongoClient("mongodb+srv://admin-harshit:alumni30@alumniportal.2aiihq6.mongodb.net/cinemania?retryWrites=true&w=majority")

In [3]:
db=client['cinemania']

In [4]:
collection=db['dataset']

# Inserting Data

In [5]:
original_df = pd.read_csv("./datasets/final_dataset.csv")
print(original_df)

      movie_id                   movie_title  \
0          238                 The Godfather
1          278      The Shawshank Redemption
2          240         The Godfather Part II
3          424              Schindler's List
4        19404   Dilwale Dulhania Le Jayenge
...        ...                           ...
7981    452015                 Psychokinesis
7982     43930  Tomorrow, When the War Began
7983     13474                            P2
7984     13200                           Red
7985     11557               St. Elmo's Fire

                                               overview  \
0     Spanning the years 1945 to 1955, a chronicle o...
1     Framed in the 1940s for the double murder of h...
2     In the continuing saga of the Corleone crime f...
3     The true story of how businessman Oskar Schind...
4     Raj is a rich, carefree, happy-go-lucky second...
...                                                 ...
7981  An ordinary guy suddenly finds he has superpow...
7982  Ellie Linton, a teen from an Australian coasta...
7983  A businesswoman finds herself locked with a un...
7984  Avery, a reclusive older man, has a best frien...
7985  A group of friends graduate from the halls of ...

                                                  genre release_date  runtime  \
0     [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...   1972-03-14      175
1     [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...   1994-09-23      142
2     [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...   1974-12-20      202
3     [{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...   1993-12-15      195
4     [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...   1995-10-20      190
...                                                 ...          ...      ...
7981  [{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...   2018-01-31      101
7982  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...   2010-08-08      103
7983  [{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...   2007-11-09       98
7984  [{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...   2008-08-08       93
7985  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...   1985-06-28      110

                    Director                Writer  \
0       Francis Ford Coppola  Francis Ford Coppola
1             Frank Darabont          Stephen King
2       Francis Ford Coppola  Francis Ford Coppola
3           Steven Spielberg       Steven Zaillian
4              Aditya Chopra         Aditya Chopra
...                      ...                   ...
7981            Yeon Sang-ho          Yeon Sang-ho
7982          Stuart Beattie        Stuart Beattie
7983         Franck Khalfoun     Gr√©gory Levasseur
7984  Trygve Allister Diesen         Stephen Susco
7985         Joel Schumacher       Joel Schumacher

                                                   Cast  \
0     [{'name': 'Marlon Brando', 'character': 'Don V...
1     [{'name': 'Tim Robbins', 'character': 'Andy Du...
2     [{'name': 'Al Pacino', 'character': 'Don Micha...
3     [{'name': 'Liam Neeson', 'character': 'Oskar S...
4     [{'name': 'Shah Rukh Khan', 'character': 'Raj ...
...                                                 ...
7981  [{'name': 'Ryu Seung-ryong', 'character': 'Shi...
7982  [{'name': 'Caitlin Stasey', 'character': 'Elli...
7983  [{'name': 'Rachel Nichols', 'character': 'Ange...
7984  [{'name': 'Brian Cox', 'character': 'Avery Lud...
7985  [{'name': 'Emilio Estevez', 'character': 'Kirb...

                                                tagline  \
0                            An offer you can't refuse.
1     Fear can hold you prisoner. Hope can set you f...
2     I don't feel I have to wipe everybody out, Tom...
3       Whoever saves one life, saves the world entire.
4                   Come Fall In love, All Over Again..
...                                                 ...
7981                                                NaN
7982            Where were you when everything changed?
7983                             A new level of terror.
7984                 They should have told the truth...
7985                            The passion burns deep.

                                           poster_image  \
0     https://image.tmdb.org/t/p/w500/3bhkrj58Vtu7en...
1     https://image.tmdb.org/t/p/w500/lyQBXzOQSuE59I...
2     https://image.tmdb.org/t/p/w500/bMadFzhjy9T7R8...
3     https://image.tmdb.org/t/p/w500/sF1U4EUQS8YHUY...
4     https://image.tmdb.org/t/p/w500/ktejodbcdCPXbM...
...                                                 ...
7981  https://image.tmdb.org/t/p/w500/tyTAYYWHyfDcAX...
7982  https://image.tmdb.org/t/p/w500/pGElUTRxtKWlMc...
7983  https://image.tmdb.org/t/p/w500/3mTtQSKoFNyvhb...
7984  https://image.tmdb.org/t/p/w500/eCDOdRVL4SQcUJ...
7985  https://image.tmdb.org/t/p/w500/9yFDYxV0LWDtc7...

                                       background_image language  \
0     https://image.tmdb.org/t/p/w500/tmU7GeKVybMWFB...  English
1     https://image.tmdb.org/t/p/w500/kXfqcdQKsToO0O...  English
2     https://image.tmdb.org/t/p/w500/poec6RqOKY9iSi...  English
3     https://image.tmdb.org/t/p/w500/zb6fM1CX41D9rF...   German
4     https://image.tmdb.org/t/p/w500/90ez6ArvpO8bvp...    Hindi
...                                                 ...      ...
7981  https://image.tmdb.org/t/p/w500/53rHETjQOfCSaj...   Korean
7982  https://image.tmdb.org/t/p/w500/vdSriqZkUUhEUF...  English
7983  https://image.tmdb.org/t/p/w500/aYMvNOHPozMqpR...  English
7984  https://image.tmdb.org/t/p/w500/he3tSbGMewQLt9...  English
7985  https://image.tmdb.org/t/p/w500/mD4hRiMCeJUieg...  English

                       country  rating  A-rated  \
0     United States of America   8.706    False
1     United States of America   8.701    False
2     United States of America   8.600    False
3     United States of America   8.573    False
4                        India   8.557    False
...                        ...     ...      ...
7981               South Korea   6.165    False
7982                 Australia   6.165    False
7983  United States of America   6.200    False
7984  United States of America   6.165    False
7985  United States of America   6.165    False

                                          trailer
0     https://www.youtube.com/watch?v=eZHsmb4ezEk
1     https://www.youtube.com/watch?v=PLl99DlL6b4
2     https://www.youtube.com/watch?v=9O1Iy9od7-A
3     https://www.youtube.com/watch?v=lx9Ahsr4544
4     https://www.youtube.com/watch?v=oIZ4U21DRlM
...                                           ...
7981                                          NaN
7982                                          NaN
7983                                          NaN
7984                                          NaN
7985                                          NaN

[7986 rows x 17 columns]

In [4]:
import ast
# original_df['genre'] = original_df['genre'].apply(ast.literal_eval)
original_df['genre'][0][0]

{'id': 18, 'name': 'Drama'}

In [6]:
data = []
with open("./datasets/modified_dataset.csv", 'r', encoding='utf-8') as csv_file:
    csv_reader = csv.DictReader(csv_file)
    for row in csv_reader:
        data.append(row)

In [8]:
collection.insert_many(data)

# Fetching Data

In [5]:
data = list(collection.find())

In [6]:
df = pd.DataFrame(data)

In [7]:
df

,_id,movie_id,movie_title,overview,genre,release_date,runtime,Director,Writer,Cast,tagline,poster_image,background_image,language,country,rating,A-rated,trailer,count
0,650e6d87402f0bada82577e4,5,Four Rooms,It's Ted the Bellhop's first night on the job....,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",1995-12-09,98,"{'director_id': 3110, 'name': 'Allison Anders'}",Allison Anders,"[{'actor_id': 3129, 'name': 'Tim Roth', 'chara...",Twelve outrageous guests. Four scandalous requ...,https://image.tmdb.org/t/p/w500/75aHn1NOYXh4M7...,https://image.tmdb.org/t/p/w500/c1BaOxC8bo5ACF...,English,United States of America,5.782,False,https://www.youtube.com/watch?v=S_Pd2pGkq54,0
1,650e6d87402f0bada82577e5,11,Star Wars,Princess Leia is captured and held hostage by ...,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",1977-05-25,121,"{'director_id': 1, 'name': 'George Lucas'}",George Lucas,"[{'actor_id': 2, 'name': 'Mark Hamill', 'chara...","A long time ago in a galaxy far, far away...",https://image.tmdb.org/t/p/w500/6FfCtAuVAW8XJj...,https://image.tmdb.org/t/p/w500/zqkmTXzjkAgXmE...,English,United States of America,8.203,False,https://www.youtube.com/watch?v=SCBJJG_Ncl0,0
2,650e6d87402f0bada8257814,105,Back to the Future,Eighties teenager Marty McFly is accidentally ...,"[{'id': 12, 'name': 'Adventure'}, {'id': 35, '...",1985-07-03,116,"{'director_id': 24, 'name': 'Robert Zemeckis'}",Robert Zemeckis,"[{'actor_id': 521, 'name': 'Michael J. Fox', '...",He's the only kid ever to get into trouble bef...,https://image.tmdb.org/t/p/w500/fNOH9f1aA7XRTz...,https://image.tmdb.org/t/p/w500/5bzPWQ2dFUl2aZ...,English,United States of America,8.313,False,https://www.youtube.com/watch?v=ylDpYXyrUvc,0
3,650e6d87402f0bada82577ec,25,Jarhead,Jarhead is a film about a US Marine Anthony Sw...,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",2005-11-04,123,"{'director_id': 39, 'name': 'Sam Mendes'}",William Broyles Jr.,"[{'actor_id': 134, 'name': 'Jamie Foxx', 'char...",Welcome to the suck.,https://image.tmdb.org/t/p/w500/55WJCdayHwoXJw...,https://image.tmdb.org/t/p/w500/bQ8fRUaitJvi54...,English,United Kingdom,6.621,False,https://www.youtube.com/watch?v=s0yQySbdSL8,0
4,650e6d87402f0bada82577e6,12,Finding Nemo,"Nemo, an adventurous young clownfish, is unexp...","[{'id': 16, 'name': 'Animation'}, {'id': 10751...",2003-05-30,100,"{'director_id': 7, 'name': 'Andrew Stanton'}",Andrew Stanton,"[{'actor_id': 13, 'name': 'Albert Brooks', 'ch...",There are 3.7 trillion fish in the ocean. They...,https://image.tmdb.org/t/p/w500/ggQ6o8X5984OCh...,https://image.tmdb.org/t/p/w500/h3uqFk7sZRJvLZ...,English,United States of America,7.8,False,https://www.youtube.com/watch?v=SPHfeNgogVs,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6349,650e6d87402f0bada825908f,556803,The Princess Switch,When a down-to-earth Chicago baker and a soon-...,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",2018-11-16,101,"{'director_id': 182892, 'name': 'Mike Rohl'}",Robin Jill Bernheim,"[{'actor_id': 67599, 'name': 'Vanessa Hudgens'...",,https://image.tmdb.org/t/p/w500/A8XgZE8CsHiYN2...,https://image.tmdb.org/t/p/w500/plJy3kYRULQYvX...,English,United States of America,7.011,False,https://www.youtube.com/watch?v=-WBhj57fHeI,0
6350,650e6d87402f0bada825909c,556901,Teen Titans Go! vs. Teen Titans,The comedic modern-day quintet takes on their ...,"[{'id': 28, 'name': 'Action'}, {'id': 16, 'nam...",2019-07-21,76,"{'director_id': 2363198, 'name': 'Jeff Mednikow'}",Bob Kane,"[{'actor_id': 60227, 'name': 'Greg Cipes', 'ch...",,https://image.tmdb.org/t/p/w500/h3zznBfuEBV97e...,https://image.tmdb.org/t/p/w500/a0x89EyyjaUWnb...,English,United States of America,7.848,False,https://www.youtube.com/watch?v=7tCawDmKGQA,0
6351,650e6d87402f0bada82590af,491480,The Boy Who Harnessed the Wind,"Against all the odds, a thirteen year old boy ...","[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",2019-02-14,113,"{'director_id': 5294, 'name': 'Chiwetel Ejiofor'}",Chiwetel Ejiofor,"[{'actor_id': 2185240, 'name': 'Maxwell Simba'...",,https://image.tmdb.org/t/p/w500/yOr7RxHw15MMXN...,https://image.tmdb.org/t/p/w500/lB8mrGjgOxVuiG...,Chichewa; Nyanja,Malawi,7.934,False,https://www.youtube.com/watch?v=nPkr9HmglG0,0
6352,650e6d87402f0bada82590b1,524251,I See You,"When a 12-year-old boy goes missing, lead inve...","[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",2019-09-11,98,"{'director_id': 1667260, 'name': 'Adam Randall'}",Devon Graye,"[{'actor_id': 9994, 'name': 'Helen Hunt', 'cha...",Evil Hides In Plain Sight.,https://image.tmdb.org/t/p/w500/2LwamrHAmxqEHs...,https://image.tmdb.org/t/p/w500/oIJenVsuK42zgf...,English,Australia,7.057,False,https://www.youtube.com/watch?v=k72fdSYHHvQ,0
6353,650e6d87402f0bada82590b4,425972,Cargo,After being infected in the wake of a violent ...,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",2017-10-06,105,"{'director_id': 1167036, 'name': 'Ben Howling'}",Yolanda Ramke,"[{'actor_id': 7060, 'name': 'Martin Freeman', ...",The future is fragile.,https://image.tmdb.org/t/p/w500/cdPSUck4tBRvRu...,https://image.tmdb.org/t/p/w500/tiIpajUBpLMNWM...,English,Australia,6.407,False,https://www.youtube.com/watch?v=SEiHP1vuCPg,0

In [16]:
original_df['genre'][0]
# original_df['genre']

"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name': 'Comedy'}]"